/* Custom Utility Classes*/

/* width: fit-content */
.w-fit {
  width: fit-content !important;
}

/* height: fit-content*/
.h-fit {
  height: fit-content !important;
}

/* z-index: 1020*/
.z-1020 {
  z-index: 1020 !important;
}
