/* Custom Utility Classes*/

/* width: fit-content */
.w-fit {
  width: fit-content !important;
}

/* height: fit-content*/
.h-fit {
  height: fit-content !important;
}

/* z-index: 1020*/
.z-1020 {
  z-index: 1020 !important;
}

/* fill: gray-800/rgba(31, 41, 55) */
.fill-gray-800 {
  fill: rgba(31, 41, 55) !important;
}

/* border-width: 3px */
.border-3 {
  border-width: 3px !important;
}
