@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-fit {
    width: fit-content;
  }
  .h-fit {
    height: fit-content;
  }
  .z-1020 {
    z-index: 1020;
  }
}

@layer components {
  @import url('./github-corner.css');
  @import url('./flip-card.css');
  @import url('./scroll.css');
}
